{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_staff %}
      <div class="content-section">
          <form method="POST">
            {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
              </div>
          </form>
      </div>
    {% else %}
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1; url=http://localhost:8000/login/?next=/post/new/">
     
    <script>
      window.location.href = "http://localhost:8000/login/?next=/post/new/"
    </script>
     
    <title>Page Redirection</title>
    {% endif %}
{% endblock content %}